@charset "utf-8";
/* CSS Document */
body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,td,input,select,option,textarea{
    margin:0;
    padding:0;
}
html{
    font-size:26.67vw;
    height:100%;
}
body{
    font-family:"微软雅黑",Arial;
    height:100%;
    /*display: flex;*/
    /*flex-direction:column;*/
    /*justify-content: center;*/

}
#app{
    height:100%;

}
/*body::-webkit-scrollbar{*/
    /*display: none;*/
/*}*/
#app::-webkit-scrollbar{
    display: none;
}
a{
    text-decoration:none;
}
ul,ol{
    list-style:none;
}
img{
    border:none;
}

/*底部区域*/
.footer{
  width:100%;
  height:0.51rem;
  display: flex;
  background: #ffffff;
  justify-content: space-around;
  padding:0.05rem 0;
  border-top: 1px solid #f4f4f4;
  position: fixed;
  bottom: 0;
  left:0;
}
.footer .bottom_list{
  width:0.5rem;
  height:0.51rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding-bottom: 0.06rem;
}
.bottom_list i{
  font-size: 0.24rem;
  color: #5b5b5b;
}
.bottom_list  span{
  font-size: 0.07rem;
  color: #5b5b5b;
}
