/*顶部区域*/
.header{
    width: 100%;
    height:0.5rem;
    display: flex;
    -webkit-justify-content: center;
    background: #ffffff;
    border-bottom: 1px solid #e4e0e1;
    position: fixed;
    top:0;
    display: none;
}
.header h3{
    font-weight: 100;
    font-size: 0.18rem;
    line-height: 0.5rem;
}
/*中部区域*/
.center{
    width:100%;
    -webkit-flex:1;
    overflow-y:auto;
    overflow-x: hidden;
    background: #f4f4f4;
    /*display: flex;*/
    /*flex-direction: column;*/
}
.center .my{
    display:flex;
    width:100%;
    background: #ffffff;
    /*padding-top: 0.25rem;*/
    /*height:1.25rem;*/
}
.my .myin{
    display:flex;
    width:100%;
    background: #ffffff;
    border-bottom: 1px solid #ededed;
    padding-top: 0.25rem;
    height:1.25rem;
    margin-right: 0.17rem;
    margin-left: 0.17rem;
}
.myin img{
    width:1.12rem;
    height:1.02rem;
    margin-right: 0.17rem;
    margin-bottom: 0.1rem;
}
.myin span{
    font-size: 0.2rem;
    color: #131313;
    line-height: 1.02rem;
}
.center .order{
    width: 100%;
    /*display: flex;*/
    background: #ffffff;
    /*margin-left:0.17rem ;*/
    /*margin-right:0.17rem ;*/
}
.order .orderTop{
    width:100%;
    height:0.6rem;
    display: flex;
   justify-content: space-between;
    /*background: lightpink;*/
}
.orderTop .otLeft{
    font-size: 0.22rem;
    color: #0c0c0c;
    line-height: 0.6rem;
    margin-left: 0.17rem;
    /*margin-right: 1.55rem;*/
}
.orderTop .otRight{
    font-size:0.18rem ;
    color: #a4a4a4;
    line-height: 0.6rem;
    margin-right: 0.17rem;
}
.orderTop .otRight i{
    font-size:0.16rem ;
    color: #a4a4a4;
    line-height: 0.6rem;
    margin-left: 0.15rem;
}
.order .orderBottom{
    width: 100%;
    display: flex;
    -webkit-justify-content: space-around;
}
.orderBottom .orderList{
    display: flex;
    flex-direction: column;
}
.orderList i{
    color: #9b9b9b;
    font-size: 0.35rem;
    text-align: center;
}
.orderList p{
    font-size: 0.18rem;
    color: #595a5c;
    margin-top: 0.2rem;
    margin-bottom: 0.3rem;
}
.center .ticket{
    width: 100%;
    display: flex;
    -webkit-justify-content: space-around;
    margin-top: 0.11rem;
    background: #ffffff;
}
.ticket .ticketList{
    display: flex;
    flex-direction: column;
}
.ticketList i{
    color: #9b9b9b;
    font-size: 0.35rem;
    text-align: center;
    color: #df2e1a;
    margin-top: 0.35rem;
}
.ticketList p{
    font-size: 0.18rem;
    color: #595a5c;
    margin-top: 0.2rem;
    margin-bottom: 0.3rem;
}
.center .more{
    width: 100%;
    display: flex;
    -webkit-justify-content: space-between;
    margin-top: 0.11rem;
    background: #ffffff;
    flex-wrap: wrap;
    padding-bottom:0.3rem ;
}
.more .moreList{
    width:1rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
.moreList img{
    width: 0.35rem;
    height: 0.35rem;
    margin-left: 0.35rem;
    margin-top: 0.3rem;
}
.moreList p{
    font-size: 0.18rem;
    color: #595a5c;
    text-align: center;
    /*margin-top: 0.2rem;*/
    /*margin-bottom: 0.3rem;*/
}
.center .mineAct{
    width:100%;
    height:0.97rem;
    margin-top: 0.11rem;
}
.center .choice{
    width:100%;
    display: flex;
    flex-direction: column;
}
.choice .choiceTit{
    display: flex;
    width:100%;
    -webkit-justify-content: center;
    height:0.69rem;
    background: #ffffff;
}
.choiceTit h3{
    font-size: 0.23rem;
    color: #db3026;
    font-weight: 100;
    line-height: 0.69rem;
}
.choiceTit h3 img{
    width:0.27rem;
    height:0.27rem;
    margin-right: 0.12rem;
    vertical-align: middle;
}
.choice .choiceCloth{
    display: flex;
    -webkit-justify-content: space-between;
    flex-wrap: wrap;
}
.choiceCloth .choiceGood{
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    width:1.85rem;
    margin-bottom: 0.06rem;
}
.choiceGood .choiceImgTop{
    width:1.85rem;
    height:1.85rem;
}
.choiceGood .choiceButtom{
    display: flex;
    flex-direction: column;
    width: 1.85rem;
    background: #ffffff;
}
.choiceButtom .choiceButtomTit{
    display: flex;
    width:100%;
    margin-top: 0.11rem;
}
.choiceButtomTit h3{
    width:100%;
    font-size: 0.18rem;
    color: #131313;
    text-indent: 0.2rem;
}
.choiceButtomTit h3 img{
    width:0.44rem;
    height:0.2rem;
    vertical-align: middle;
}
.choiceButtom .choicegood{
    width:1.85rem;
    display: flex;
    margin-top: 0.17rem;
    margin-bottom: 0.21rem;
    -webkit-justify-content: space-around;
    /*background: lightcoral;*/
}
.choicegood .choicegoodLeft{
    display: flex;
    color:#e13531 ;
    font-size:0.18rem ;
}
.choicegoodLeft span{
    font-size:0.13rem ;
    color:#9b9b9b ;
    margin-top: 0.04rem;
    margin-left: 0.05rem;
}
.choicegood .choiceP{
    width:0.35rem;
    height:0.2rem;
}
/*底部区域*/
.footer{
    width:100%;
    height:0.51rem;
    display: flex;
    justify-content: space-around;
    padding:0.05rem 0;
    border-top: 1px solid #f4f4f4;
}
.footer .bottom_list{
    width:0.5rem;
    height:0.51rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding-bottom: 0.06rem;
}
.bottom_list i{
    font-size: 0.24rem;
    color: #5b5b5b;
}
.bottom_list  span{
    font-size: 0.07rem;
    color: #5b5b5b;
}
