/*顶部区域*/
.header{
    width: 100%;
    position: fixed;
    top:0;
    background: #ffffff;
}
.header .headerTop{
   margin-left: 0.13rem;
    margin-right: 0.13rem;
    display: flex;
    -webkit-justify-content: space-between;
    height:0.45rem;
}
.headerTop img{
    width:0.21rem;
    height:0.21rem;
    margin-top: 0.11rem;
}

.headerTop h3{
    font-size: 0.2rem;
    color: #2f2f2f;
    line-height: 0.45rem;
}
.header .headerList{
    width:100%;
    height:0.39rem;
    display: flex;
    overflow-x:auto ;
    /*margin-left: 0.13rem;*/
    border-bottom: 1px solid #cfcfcf;
    border-top: 1px solid #cfcfcf;
}
.headerList::-webkit-scrollbar{
    display: none;
}
.headerList a{
    font-size:0.15rem;
    color:#454545;
    line-height: 0.39rem;
    white-space:nowrap;
    cursor: pointer;
    margin:0 0.16rem;
}
/*中部区域*/
.center{
    width:100%;
    height:100%;
    overflow-y:auto;
    overflow-x: hidden;
    background: #f4f4f4;
    display: flex;
    margin-top: 0.84rem;
}
.center .orders{
    margin-top: 0.12rem;
    background: #ffffff;
    width:100%;
    height:2.2rem;
}
.orders .orderStore{
    display: flex;
    -webkit-justify-content: space-between;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}
.orderStore .orderStoreL{
    display: flex;
}
.orderStoreL p{
    font-size:0.15rem ;
    color: #0e1211;
}
.orderStoreL p img:nth-child(1){
    width:0.2rem;
    height:0.2rem;
    margin-left:0.1rem ;
    margin-right:0.13rem ;
    vertical-align: middle;

}
.orderStoreL p img:nth-child(2){
    width:0.1rem;
    height:0.1rem;
    margin-left:0.1rem ;
}
.orderStore .orderStoreR{
    display: flex;
    font-size: 0.15rem;
    color: #c7322b;
    margin-right: 0.1rem;
}
.orders .orderGood{
    width:100%;
    height:0.83rem;
    background: #f5f5f5;
    display: flex;
    padding-top: 0.06rem;
}
.orderGood .orderGoodL{
    width:26%;
    height:0.83rem;
    /*background: lightcyan;*/
    display: flex;
}
.orderGoodL img{
    width:0.78rem;
    height:0.78rem;
    margin-left: 0.1rem;
}
.orderGood .orderGoodC{
    width:64%;
    height:0.83rem;
    /*background: lightcoral;*/
    display: flex;
    flex-direction: column;
}
.orderGoodC p{
    font-size: 0.145rem;
    color: #0e100f;
}
.orderGoodC span{
    font-size: 0.14rem;
    color: #989898;
    margin-top: 0.09rem;
}
.orderGood .orderGoodR{
    width:10%;
    height:0.83rem;
    /*background: lightgrey;*/
    display: flex;
    flex-direction: column;
}
.orderGoodR p{
    font-size: 0.145rem;
    color: #0e100f;
}
.orderGoodR span{
    font-size: 0.14rem;
    color: #989898;
    margin-top: 0.09rem;
    margin-left: 0.06rem;
}
.orders .pay{
    display: flex;
    -webkit-justify-content: flex-end;
    height:0.39rem;
    border:1px solid #f4f4f4;
}
.pay p{
    font-size: 0.13rem ;
    color:#1c1e1d ;
    line-height: 0.39rem;
    margin-right: 0.11rem;
}
.orders .delorder{
    display: flex;
    -webkit-justify-content: flex-end;
    padding-top: 0.07rem;
    padding-bottom:0.07rem ;
    border:1px solid #f4f4f4;
}
.delorder span{
    font-size: 0.13rem ;
    color:#1c1e1d ;
    line-height: 0.29rem;
    margin-right: 0.11rem;
    padding:0 0.08rem;
    border-radius: 0.05rem;
    border: 1px solid #989898;
}