@charset "utf-8";
/* CSS Document */
body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,td,input,select,option,textarea{
    margin:0;
    padding:0;
}
html{
    font-size:26.67vw;
    height:100%;
}
body{
    font-family:"微软雅黑",Arial;
    height:100%;
    /*display: flex;*/
    /*flex-direction:column;*/
    /*justify-content: center;*/

}
#app{
    height:100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
}
/*body::-webkit-scrollbar{*/
    /*display: none;*/
/*}*/
#app::-webkit-scrollbar{
    display: none;
}
a{
    text-decoration:none;
}
ul,ol{
    list-style:none;
}
img{
    border:none;
}
